<footer class="footer">
	<div class="container is-fluid">
		<div class="footer-wrapper">
			<div class="footer-wrapper-left">
				<div>
					© {{ "now" | date: "%Y" }} Metissa.ai copyright 
				</div>
				<a href="https://beian.miit.gov.cn/" target="_blank" rel="noreferrer">
					ICP证: 沪ICP备16013001号-2
				</a>
			</div>
			<div class="footer-wrapper-right">
                <a href="https://landscape.cncf.io/format=serverless">
                    <small>Featured on</small>
                    <img src="{{ site.baseurl }}/images/metissa/metissa_long_logo.png" alt="Metissa Logo" style="max-height: 3rem;">
                </a>
			</div>
		</div>
	</div>
</footer>