<footer class="footer">
	<div class="container is-fluid">
		<div class="footer-wrapper">
			<div class="footer-wrapper-left">
				<p>
					Metissa.AI &reg; was founded by xxxx and is hosted by xxx.<br>
					Metissa.AI Ltd. is a registered company in xxx with number: xxxx, registered address: xxxxx.
				</p>
			</div>
			<div class="footer-wrapper-right">
                <a href="https://landscape.cncf.io/format=serverless">
                    <small>Featured on</small>
                    <img src="{{ site.baseurl }}/images/metissa/metissa_long_logo.png" alt="Metissa Logo" style="max-height: 3rem;">
                </a>
			</div>
		</div>
	</div>
</footer>
