<!-- <div class="container">
	<p class="intro-logo">
		<img src="{{ site.baseurl }}/images/metissa/metissa-logo-150px.jpeg" alt="logo">
	</p>
</div> -->

<div class="container">
	<h2 class="title is-size-2-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
		Hi there! I am Metissa!
	</h2>
	<h3 class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-light has-text-weight-light">
		Introducing Metissa. One Click for One New World. </br>
		Productivity. Efficiency. Creativity.
	</h3>
</div>
<div
	style="background-image: url('{{ site.baseurl }}/images/metissa/intro-bg.svg'); background-repeat: no-repeat, no-repeat; background-size: 80vw; background-position: center; width: 100%;">
	<div class="container">
		<a href="{{ site.baseurl }}/support" class="button is-primary"
			style="background-color: #4E4DF4; padding: 2em; margin-top: 20vh; margin-bottom: 20vh;">
			<h3
				class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-light has-text-weight-bold">
				Activate Now
			</h3>
		</a>
	</div>
	<div class="yt-player-container">
		<div class="yt-player-iframe-wrapper ready">
			<video id="sample-video" muted loop autoplay controls>
				<source src="{{ site.baseurl }}/videos/metissa-demo.mp4" type="video/mp4">
			</video>

			<div id="yt-player-play"></div>
		</div>
	</div>
</div>


<!-- <img src="{{ site.baseurl }}/images/metissa/intro-bg.svg" alt="background image"> -->