<!-- <div class="container">
	<p class="intro-logo">
		<img src="{{ site.baseurl }}/images/metissa/metissa-logo-150px.jpeg" alt="logo">
	</p>
</div> -->

<div class="container">
	<h2 class="title is-size-2-mobile is-size-1-tablet is-size-1-desktop  is-capitalized has-text-weight-bold">
		Hi there! I am Metissa!
	</h2>
	<h3 class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-light has-text-weight-light">
		Introducing Metissa. One Click for One New World.  </br>
		Productivity. Efficiency. Creativity.
	</h3>
</div>
