<div class="container" style="margin-top: 1rem;">
	<h2 class="title is-size-2-mobile is-size-1-tablet is-size-1-desktop has-text-weight-bold">
		Hi there! I am Metissa!
	</h2>
	<h3 class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-light has-text-weight-light">
		Introducing Metissa. One Click for One New World. </br>
		Productivity. Efficiency. Creativity.
	</h3>
</div>
<div class="container">
	<a href="{{ site.baseurl }}/support" class="button is-primary"
		style="background-color: #4E4DF4; padding: 2em; margin-top: 3em;">
		<h3 class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-light has-text-weight-bold">
			Activate Now
		</h3>
	</a>
</div>

<div class="container">
	<img src="{{ site.baseurl }}/images/metissa/intro-bg-cut.svg" style="" alt="Astronaut">
</div>
<div class="container">
	<video id="sample-video" muted loop autoplay controls style="width: 100%; m-border">
		<source src="{{ site.baseurl }}/videos/metissa-full-compressed.mp4" type="video/mp4">
	</video>
</div>

<!-- Part 2 -->
<div class="container" style="text-align: right; margin-top: 5rem;">
	<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" style="height:28rem; max-height:60vw;"
		alt="Rocket">
</div>
<div class="container" style="margin-top: -20rem;">
	<p class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-bold" style="text-align: left; margin: 2rem;">
		Click to finish. </br>
		Single prompt for all materials.
	</p>

	<video id="demo-video-2" muted loop autoplay controls style="width: 100%;" class="m-border">
		<source src="{{ site.baseurl }}/videos/metissa-demo.mp4" type="video/mp4">
	</video>

    <div class="columns is-multiline feature-box" style="margin-top: 0.5rem;">
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
					<div style="max-width: 100%;">
						<img src="{{ site.baseurl }}/images/metissa/metissa_long_logo.png" alt="Rocket">
					</div>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
					<div style="max-width: 100%;">
						<img src="{{ site.baseurl }}/images/metissa/metissa_long_logo.png" alt="Rocket">
					</div>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
					<div style="max-width: 100%;">
						<img src="{{ site.baseurl }}/images/metissa/metissa_long_logo.png" alt="Rocket">
					</div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Part 3 -->
<div class="container" style="margin-top: 10rem;">
	<div class="columns is-multiline">
		<div class="column is-4-mobile is-4-tablet is-4-desktop">
			<img src="{{ site.baseurl }}/images/metissa/intro-bg-alien.svg" style="height:100%; max-height:30vw;"
				alt="Rocket">
		</div>

		<div class="column">
			<p class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-bold"
				style="text-align: right; margin: 2rem;">
				Easier and better. </br>
				Fully AI-powered tools for better communication.
			</p>
		</div>
	</div>

	<video id="demo-video-2" muted loop autoplay controls style="width: 100%;" class="m-border">
		<source src="{{ site.baseurl }}/videos/metissa-demo.mp4" type="video/mp4">
	</video>

    <div class="columns is-multiline feature-box" style="margin-top: 0.5rem;">
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
        <div class="column is-10-mobile is-4-tablet is-4-desktop feature-box">
            <div class="columns is-multiline feature-box">
				<div class="column has-text-centered-mobile m-border feature-box"  style="text-align: left; margin: 0.5rem; padding: 1.5rem;">
					<div style="max-width: 20%;">
						<img src="{{ site.baseurl }}/images/metissa/intro-bg-rocket.png" alt="Rocket">
					</div>
					<h1 class="title is-size-3" style="margin-bottom: 2rem;">
                        Any code
                    </h1>
                    <h2 class="subtitle is-size-5">
                        Write functions in any language, and bring your existing microservices along too.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Part 4: Features -->
<div class="container" style="margin-top: 10rem;">
	<p class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-bold"
		style="text-align: left; margin: 2rem;">
		Only pay for what you need. </br> Design your digital presenting experience.
	</p>
	<p class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-bold"
		style="text-align: left; margin-left: 2rem;  color: #00E2D2">
		See pricing ->
	</p>

	<div class="container" style="text-align: left; margin: 2rem;">
		<h2 class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-bold">
			Features:
		</h2>
		<ul class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-light">
			<li>Coffee?</li>
			<li>Tea?</li>
			<li>Milk?</li>
		</ul>

	</div>
</div>
<!-- Activate section -->
<div class="container"
	style="margin-top: 10rem; background-image: url('{{ site.baseurl }}/images/metissa/intro-bg-activate.svg'); background-repeat:no-repeat; background-position: center;">

	<div class="container">
		<a href="{{ site.baseurl }}/support" class="button is-primary"
			style="background-color: #4E4DF4; padding: 2em; margin-top: 15rem; margin-bottom: 15rem;">
			<h3 class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-light has-text-weight-bold">
				Activate Now
			</h3>
		</a>
	</div>

<!-- Part ?: FAQ -->
<!-- <div class="container" style="margin-top: 10rem;">
	<p class="is-size-5-mobile is-size-4-tablet is-size-3-desktop has-text-weight-bold"
		style="text-align: left; margin: 2rem;">
		Questions & Answers
	</p>
	<p class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-bold"
		style="text-align: left; margin-left: 2rem;  color: #00E2D2">
		See more ->
	</p>

	<div class="container" style="text-align: left; margin: 2rem;">
		<ul class="is-size-6-mobile is-size-5-tablet is-size-4-desktop has-text-weight-light">
			<li>FAQ 1?</li>
			<li>FAQ 2?</li>
			<li>FAQ 3?</li>
		</ul>

	</div>
</div> -->
</div>